.wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 24px;
  padding: 0 0.3%;
}

.list {
  display: flex;
  align-items: center;
  transform: scaleX(0);
  transition: all;
  transition-duration: 250ms;
  transform-origin: left 0%;
}

.filterIcon {
  width: 38px;
  height: 38px;
  transition: all;
  transition-duration: 200ms;
  padding: 10px;
  cursor: pointer;
}

.item {
  padding: 20px;
  color: rgb(107 114 128);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  transition: all;
  transition-duration: 250ms;
  cursor: pointer;
}

.itemActive {
  padding: 0px 10px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  cursor: pointer;
}

.listActive {
  position: relative;
  display: flex;
  align-items: center;
  transform: scaleX(100%);
  transition: all;
  transition-duration: 250ms;
  transform-origin: left 0%;
}

@media (max-width: 900px) {
  .list {
    position: absolute;
    top: 47px;
    left: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;

    z-index: 1000;
    transform: scaleY(0) translateX(-50%);
    transition: all;
    transition-duration: 250ms;
    transform-origin: top;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .listActive {
    position: absolute;
    top: 47px;
    left: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;

    transform: scaleY(100%) translateX(-50%);
    transform-origin: top;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .listActive::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: none;
  }

  .item {
    width: 100%;
    padding: 8px 10px;
    text-align: center;
    color: rgb(107 114 128);
    border-radius: 5px;
    transition: all;
    transition-duration: 250ms;
    cursor: pointer;
  }

  .itemActive {
    width: 100%;
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
  }
}

@media (min-width: 900px) {
  .list {
    width: 0;
  }

  .listActive::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .wrapper:not(:first-child) {
    padding: 0 1.8%;
  }

  .wrapper:first-child {
    padding-right: 1.8%;
  }

  .item {
    padding: 0px 10px;
    color: rgb(107 114 128);
  }

  .wrapper {
    margin-bottom: 0;
  }
}
